<div class="container">

  <div class="row">
      <app-video-juego
      class="col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3 mb-4"
      [juego]="juego"
      *ngFor="let juego of listajuegos"
      (favoritoAgregado)="adicionarFavorito($event)"
      (mostrarVideoJuego)="abrirMostrarVideo($event)"
      ></app-video-juego>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <img [src]="VideoJuegofavorito.thumbnail"alt="">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        <h2>{{VideoJuegofavorito.title}}</h2>
        <p><strong>Genero: </strong>{{VideoJuegofavorito.genre}}</p>
        <p><strong>Sistema operativo: </strong>{{VideoJuegofavorito.platform}}</p>
        <p><strong> Pagina web: </strong>{{VideoJuegofavorito.freetogame_profile_url}}</p>
        <p><strong>Descripcion: </strong>{{VideoJuegofavorito.short_description}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"(click)="adicionarFavorito(VideoJuegofavorito)" >Agreagr a favoritos</button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
            <!-- fin  modal  -->
