<div class="container">
  <div *ngFor="let favorito of miListaFavoritos">
    <p>{{favorito.title}}</p>
  </div>
  <div class="row">
      <app-video-juego
      class="col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3 mb-4"
      [juego]="juego"
      *ngFor="let juego of listajuegos"
      (favoritoAgregado)="adicionarFavorito($event)"
      (mostrarVideoJuego)="abrirMostrarVideo($event)"
      ></app-video-juego>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <img [src]="VideoJuegofavorito.thumbnail"alt="">
      <p>{{VideoJuegofavorito.title}}</p>
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
        <!-- <button type="button" class="btn btn-danger">favoritos</button> -->
      </div>
    </div>
  </div>
</div>
            <!-- fin  modal  -->
