  <div  >
      <!-- inicio card  -->
        <div  class="card" style="width: 18rem;"style="height: 27rem;">
          <img [src]="juego.thumbnail" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{juego.title}}</h5>
              <p>{{ juego.short_description }}</p>
              <!-- <a href="#" class="btn btn-danger" (click)="agregarFavoritos()">favoritos</a> -->
              <!-- inicio modal  -->
              <!-- inicio Button trigger modal -->
              <button
              type="button"
              class="btn btn-dark"
              data-bs-toggle="modal"
              (click)="mostrarDetalle()"
              data-bs-target="#exampleModal">
              Ver detalle
              </button>
              <!-- fin Button trigger modal -->
            </div>
        </div>
        <!-- fin  card  -->
    </div>


